<%= form_for(@suggestions) do |f| %>
  <% if @suggestions.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@suggestions.errors.count, "error") %> something prohibited this suggestion from being saved:</h2>

      <ul>
      <% @suggestions.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


create_table "suggestions", force: :cascade do |t|
    t.integer  "user_id",                 null: false
    t.integer  "category_id",             null: false
    t.string   "title",                   null: false
    t.text     "content"
    t.string   "link"
    t.integer  "upvote",      default: 0
    t.integer  "downvote",    default: 0

  <div class="field">
    <%= f.label :title 'Title' %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content 'Content' %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :link 'Link' %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :upvote 'upvote?'%><br>
    <%= f.radio_button_field :upvote 'yes' 4%>
  </div>
  <div class="field">
    <%= f.label :downvote 'downvote?'%><br>
    <%= f.radio_button_field :downvote 'yes' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
