<%= form_for(@suggestions) do |f| %>
  <% if @suggestions.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@suggestions.errors.count, "error") %> something prohibited this suggestion from being saved:</h2>

      <ul>
      <% @suggestions.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.text_field :duration %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
