<!DOCTYPE html>
<html>
<head>
  <title>Travel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
  <p>Logged in as: <%= current_user.first_name %>. <a href="/logout">Not You?</a></p>
  <% end %>


<%= yield %>

</body>
</html>
